<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">title</title>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/js/dialog.js}" defer="defer"></script>
</head>
<body>
<header th:fragment="header">
    <a th:href="@{/menu}">メニュー</a>
    <a th:href="@{/member/add}">新規メンバー</a>
    <a th:href="@{/member/list}">メンバー管理</a>
    <a th:href="@{/score/add}">新規成績</a>
    <a th:href="@{/score/list}">成績管理</a>
    <hr>
</header>
</body>
</html>